.impl-radial-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

code {
    font-family: inherit;
}

.impl-palyer-timeline {
    width: 480px;
    height: auto;
    padding: 20px;
}
