<div class="section-body">
    <div>
        <h3>Setup</h3>
        <div class="newline"></div>
    </div>

    <div>
        <h5>Learning Platform SpeakPlus</h5>
        <p class="section-description">
            Emodash has been integrated and deployed on the Web based learning platform called SpeakPlus, dedicated to improving oral
            communication skills in a foreign language (English, French, and Spanish) using video-conferencing technology
            (see Figure below).
        </p>
    </div>

    <div class="img-wrap">
        <img src="./assets/img/setup/speakplus.jpg" alt="">
    </div>

    <div>
        <h5>Participants</h5>
        <p class="section-description">
            Each tutor-learner pair met once a week for a learning session of 30 minutes. Pairs used their own devices (see Table below).
            Learners booked their learning sessions with their tutors at their own pace.
        </p>
    </div>


    <div>
        <h5>Software</h5>
    </div>

    <div class="hard-soft-ware">
        <table class="table">
            <tr>
                <th>Participant</th>
                <th>Os name, version</th>
                <th>Browser name, version</th>
            </tr>
            <tr>
                <td>Tutor P2</td>
                <td>Windows 10</td>
                <td>Firefox, 57</td>
            </tr>
            <tr>
                <td>Tutor P5</td>
                <td>Windows 10</td>
                <td>Chrome, 62</td>
            </tr>
            <tr>
                <td>Tutor P1</td>
                <td>Windows, 10</td>
                <td>Chrome, 61</td>
            </tr>
            <tr>
                <td>Tutor P4</td>
                <td>Windows, 10</td>
                <td>Chrome, 62</td>
            </tr>
            <tr>
                <td>Tutor P3</td>
                <td>Mac OS, 10</td>
                <td>Chrome, 63</td>
            </tr>
            <tr>
                <td>Learner P4</td>
                <td>Ubuntu</td>
                <td>Firefox, 57</td>
            </tr>
            <tr>
                <td>Learner P2</td>
                <td>Windows, 10</td>
                <td>Chrome, 63</td>
            </tr>
            <tr>
                <td>Learner P5</td>
                <td>Windows, 7</td>
                <td>Chrome, 63</td>
            </tr>
            <tr>
                <td>Learner P1</td>
                <td>Windows, 7</td>
                <td>Chrome, 63</td>
            </tr>
            <tr>
                <td>Learner P3</td>
                <td>Windows, 7</td>
                <td>Firefox, 57</td>
            </tr>
        </table>
    </div>
</div>