<div class="section-body">
  <div>
    <h3>Emodash Design Process</h3>
    <div class="newline"></div>
  </div>

  <div>
    <p class="section-description">
      As illustrated by the figure below, we went through six main iterations, involving different stakeholders at each stage.
      Starting with tutors's interviews, and design explorations of live and retrospective awareness. We later explored and
      validated emotion recognition strategies which we tested with two tutors. We further refined the design through several
      iterations geared towards feedback support, and finally conducted the study discussed in this paper.
    </p>
  </div>

  <div class="img-wrap">
    <img src="./assets/img/design/emodash-timeline-v5.jpg" alt="">
  </div>

  <div class="img-wrap">
    <img src="./assets/img/design/emodash-overview2.jpg" alt="">
  </div>


  <div>
    <h5>Sketch</h5>
  </div>

  <div class="img-wrap">
    <img src="./assets/img/design/archinfo-sketches1.jpg" alt="">
  </div>

  <div class="img-wrap">
    <img src="./assets/img/design/archinfo-sketches2.jpg" alt="">
  </div>

  <div class="img-wrap">
    <img src="./assets/img/design/archinfo-sketches3.jpg" alt="">
  </div>


  <div>
    <h5>Think-aloud Evaluation</h5>
  </div>

  <div class="img-wrap">
    <img src="./assets/img/design/think-aloud1.jpg" alt="">
  </div>

</div>